.DS_Store
node_modules
/dist
/public/build_str.json
test-code.ts
src/web/locales
local-code

deploy.sh
.pnpm-debug.log

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

deploy.sh

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
